USE [master]
GO
/****** Object:  Database [PRJ_MovieBooking]    Script Date: 3/21/2026 1:17:04 AM ******/
CREATE DATABASE [PRJ_MovieBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ_MovieBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRJ_MovieBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ_MovieBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRJ_MovieBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ_MovieBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ_MovieBooking]
GO
/****** Object:  Table [dbo].[Cinemas]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinemas](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](150) NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PosterUrl] [varchar](255) NULL,
	[Genre] [nvarchar](100) NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[Status] [bit] NULL,
	[Avg_Rating] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[OrderStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[MovieID] [int] NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[Capacity] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NULL,
	[SeatName] [varchar](10) NOT NULL,
	[SeatType] [varchar](20) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtime]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtime](
	[ShowtimeID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[ShowDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NULL,
	[Price] [float] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ShowtimeID] [int] NULL,
	[SeatID] [int] NULL,
	[Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [varchar](20) NULL,
	[Status] [bit] NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 3/21/2026 1:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherCode] [varchar](20) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cinemas] ON 

INSERT [dbo].[Cinemas] ([CinemaID], [CinemaName], [Location], [Status]) VALUES (1, N'PRJ Cinema Làng Đại Học', N'Khu Công nghệ cao, TP. Thủ Đức, TP.HCM', 1)
INSERT [dbo].[Cinemas] ([CinemaID], [CinemaName], [Location], [Status]) VALUES (2, N'PRJ Cinema Quận 1', N'Tòa nhà Bitexco, Bến Nghé, Quận 1, TP.HCM', 1)
INSERT [dbo].[Cinemas] ([CinemaID], [CinemaName], [Location], [Status]) VALUES (3, N'Galaxy Cinema Nguyễn Du', N'Quận 1, TP.HCM', 1)
SET IDENTITY_INSERT [dbo].[Cinemas] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [PosterUrl], [Genre], [BasePrice], [Status], [Avg_Rating]) VALUES (1, N'Nhịp Điệu Thép (Iron Rhythm)', NULL, N'https://upload.wikimedia.org/wikipedia/vi/6/69/L%E1%BA%B7t_m%E1%BA%B7t_7_-_M%E1%BB%99t_%C4%91i%E1%BB%81u_%C6%B0%E1%BB%9Bc_poster.jpg', N'Thể Thao', CAST(85000.00 AS Decimal(10, 2)), 0, CAST(4.8 AS Decimal(3, 1)))
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [PosterUrl], [Genre], [BasePrice], [Status], [Avg_Rating]) VALUES (2, N'Dune: Hành Tinh Cát - Phần 2', N'Paul Atreides tiếp tục hành trình trả thù những kẻ đã hủy hoại gia đình mình, đối mặt với lựa chọn giữa tình yêu và định mệnh vũ trụ.', N'https://m.media-amazon.com/images/M/MV5BODdjMjM3NGQtZDA5OC00NGE4LWIyZDQtZjYwOGZlMTM5ZTQ1XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg', N'Viễn Tưởng, Hành Động', CAST(120000.00 AS Decimal(10, 2)), 1, CAST(4.5 AS Decimal(3, 1)))
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [PosterUrl], [Genre], [BasePrice], [Status], [Avg_Rating]) VALUES (3, N'Kung Fu Panda 4', N'Po chuẩn bị trở thành Thủ lĩnh tinh thần của Thung lũng Bình Yên và đối đầu với một kẻ thù nguy hiểm: Tắc Kè Hoa.', N'https://m.media-amazon.com/images/M/MV5BZTcxZGIzYjEtZmQ4OS00MjdjLTk5ZDMtYmU0YWVmNDlkZTg2XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg', N'Hoạt Hình, Hài Hước', CAST(85000.00 AS Decimal(10, 2)), 1, CAST(4.2 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [CinemaID], [RoomName], [Capacity], [Status]) VALUES (1, 1, N'Phòng 01 (Standard)', 50, 1)
INSERT [dbo].[Room] ([RoomID], [CinemaID], [RoomName], [Capacity], [Status]) VALUES (2, 1, N'Phòng 02 (IMAX)', 50, 1)
INSERT [dbo].[Room] ([RoomID], [CinemaID], [RoomName], [Capacity], [Status]) VALUES (3, 2, N'Phòng 01 (L''Amour)', 50, 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([SeatID], [RoomID], [SeatName], [SeatType], [Status]) VALUES (1, 1, N'A1', N'Normal', 1)
INSERT [dbo].[Seats] ([SeatID], [RoomID], [SeatName], [SeatType], [Status]) VALUES (2, 1, N'A2', N'Normal', 1)
INSERT [dbo].[Seats] ([SeatID], [RoomID], [SeatName], [SeatType], [Status]) VALUES (3, 1, N'A3', N'Normal', 1)
GO
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Showtime] ON 

INSERT [dbo].[Showtime] ([ShowtimeID], [RoomID], [MovieID], [ShowDate], [StartTime], [EndTime], [Price], [Status]) VALUES (1, 1, 1, CAST(N'2026-03-20' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:15:00' AS Time), 85000, 1)
INSERT [dbo].[Showtime] ([ShowtimeID], [RoomID], [MovieID], [ShowDate], [StartTime], [EndTime], [Price], [Status]) VALUES (2, 2, 2, CAST(N'2026-03-20' AS Date), CAST(N'19:30:00' AS Time), CAST(N'22:30:00' AS Time), 120000, 1)
INSERT [dbo].[Showtime] ([ShowtimeID], [RoomID], [MovieID], [ShowDate], [StartTime], [EndTime], [Price], [Status]) VALUES (3, 3, 4, CAST(N'2026-03-21' AS Date), CAST(N'20:00:00' AS Time), CAST(N'22:45:00' AS Time), 95000, 1)
SET IDENTITY_INSERT [dbo].[Showtime] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Role], [Status], [Email]) VALUES (1, N'admin', N'$2a$10$uwHrS00rvNTT.JvfeAuBWepAqhen2G8pavblZpJN9YW8zJchDZ2WG', N'ADMIN', N'ADMIN', 1, N'thaiphu222@gmail.com')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Role], [Status], [Email]) VALUES (2, N'tanphu', N'$2a$10$YCpXjeSj7sPtsdaN/JWogO6x4Kwhgwcc76.9OKdNTMIRLwzb7a3eG', N'Customer', N'CUSTOMER', 1, N'thaiphu222+1@gmail.com')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Role], [Status], [Email]) VALUES (3, N'tanphu1', N'$2a$10$Bhdj8jQvyUH8o8KLk9dGue/wHkLGFoDeMBLJSeKLucX75Dlkri0Ry', N'Tân Phú', N'CUSTOMER', 1, N'thaiphu222+2@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([VoucherID], [VoucherCode], [DiscountPercent], [Quantity], [ExpiryDate], [Status]) VALUES (1, N'NEWUSER', 20, 100, CAST(N'2026-12-31' AS Date), 1)
INSERT [dbo].[Vouchers] ([VoucherID], [VoucherCode], [DiscountPercent], [Quantity], [ExpiryDate], [Status]) VALUES (2, N'PRJ50', 50, 10, CAST(N'2026-05-30' AS Date), 1)
INSERT [dbo].[Vouchers] ([VoucherID], [VoucherCode], [DiscountPercent], [Quantity], [ExpiryDate], [Status]) VALUES (3, N'GIAM10', 10, 50, CAST(N'2026-03-25' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E44A06AC6C]    Script Date: 3/21/2026 1:17:05 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__7F0ABCA9246F2A33]    Script Date: 3/21/2026 1:17:05 AM ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[VoucherCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cinemas] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0.0)) FOR [Avg_Rating]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((0)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ('Normal') FOR [SeatType]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Showtime] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Showtime] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('CUSTOMER') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinemas] ([CinemaID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([SeatID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ShowtimeID])
REFERENCES [dbo].[Showtime] ([ShowtimeID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD CHECK  (([DiscountPercent]>(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
USE [master]
GO
